.container {
  height: 100vh-25vh;
  width: 20%;
  border-radius: 10px;
  background-color: grey;
  padding: 1rem;
  position: fixed;
  overflow-y: auto;
  bottom: 45px;
  background: rgb(130, 6, 202);
}

.clearfilter {
  cursor: pointer;
  color: rgb(255, 78, 225);
}
