body {
  margin: 0;
  padding: 6% 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(126, 126, 126);
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgb(130, 6, 202);
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: rgb(245, 40, 218);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
